*{
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.calculator-grid{
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px; */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:  minmax(120px, auto) repeat(5, 100px);
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}
.calculator-grid > button{
    cursor: grab;
    font-size: 2rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(151, 151, 151, 0.65);
    border-radius: 5px;
    
}
.calculator-grid >button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.2s;

}
.calculator-grid >button:active{
    background-color: rgb(255, 0, 0, .55);
    color: white;
    /* box-shadow: 0 -5px #666; */
    /* transform: translateY(1px);   */
}
#span-two{
    grid-column: span 2;
}
#output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 5px;
}
#output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
#output .current-operand{
    color: white;
    font-size: 2.5rem;
}